.git
.gitignore
__pycache__
**/__pycache__
**/*.py[cod]
*.egg-info
.eggs
dist
build

data/
*.json
*.csv
!package.json
!package-lock.json
node_modules/

.env
.vscode
.idea
README.md
CHANGELOG.md
BACKLOG.md
*.md
